.about {
    padding-top: 10px;
    text-align: center;
    margin-bottom: -240px;
    min-height: 100vh;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.content {
    width: 800px;
    margin: 0 auto;
    text-align: left;
}